* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Bebas Neue", sans-serif;
}
.header {
    padding: 40px;
}
.menu-container {
    margin: 0 auto;
    max-width: 1200px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu .navbar ul {
    display: flex;
    align-items: center;
}
.menu .navbar ul li {
    margin-right: 20px;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    transition: color 0.3s; /* Corrección aquí */
}
.menu .navbar ul li a:hover {
    color: blueviolet;
}
