@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(kk.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}
.container{
    margin: 0 auto;
    padding: 0;
}




.menu-container {
    color: white ;
    padding: 40px;
    font-size: 20px; 
    max-width: 100%; 
    margin: 10px ; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-position: left;
    background-size: cover;
    margin-bottom: 20px;
}

/* Estilos de la lista de navegación */
.navbar ul {
    list-style: none;
    display: flex; 
}

.navbar ul li {
    margin-right: 20px; 
}

.navbar ul li a {
    font-size: 40px;
    text-decoration: none; 
    color: white; 
    font-weight: bold; 
    transition: color 0.3s; 
}

.navbar ul li a:hover {
    color: #ffcc00; 
}



/*barra de busqueda */

.search-container {
    background: #fff;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    overflow: hidden;
  }

  .search-container input[type="text"] {
    border: none;
    padding: 5px;
    width: 130px;
    font-size: 16px;
    outline: none;
  }

  .search-container button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
  }

  .search-container button:hover {
    background-color:#ffcc00;
  }



  /* titulo y fotos*/




.titulo1{
    font-size: 20px;
    padding:  40px;
        
}
.titulo-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    max-width: 100%x;
    margin: 0;
}
.fotos{
    border-radius: 10px;
    align-items: center;
    
    
}

.fotos:hover{
    box-shadow: 0 10px 20px black;
    width: 500px; 
    height: 650px;
    overflow: hidden; 
    
}


.informacion-fotos{
    padding: 15px 30px;
    font-size: 20px;
    
}
.informacion-fotos button{
    border:none;
    background: none;
    background-color: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}



.comprar-link {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 50px; /* para hacer el borde ovalado */
    color: black;
    text-decoration: none; /* quitar el subrayado */

}


.s{
    padding: 30px;
}
.ventas-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    max-width: 100%;
    margin: 0;
}
.ventas1{
    border-radius: 10px;
    align-items: center;
}
.ventas1:hover{
    box-shadow: 0 10px 20px black;
    overflow: hidden; 
    width: 400px; 
    height: 550px;
}
.informacion-ventas{
    padding: 15px 30px;
}
.informacion-ventas button{
    border:5px black;
    background: none;
    background-color: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;

}




.funcion-container{
    padding: 60px;
    position: relative;
}
.funcion-container ul li{
    position: relative;
    font-size: 20px;
    margin-right: 12px ;
    display: inline;
}
.funcion-container ul li a{
    color:black
}
.funcion-container ul li a:hover{
    color:#ffcc00
}



footer{
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    
    bottom: 0;
}

img{
    position:center;
}


.imagen-con-trasicion:hover {
    transform: scale(1.1);
    transition: 4s;
  }


  /*cuadro de carrusel*/

  .gallery {
    display: flex;
    width: 600px;
    height: 460px;
    
    
  
  }
  
  .gallery img {
    width:300px;
    flex-grow: 2;
    object-fit: cover;
    opacity: none;
    transition: 0.5s ease;
  }
  
  .gallery img:hover {
    cursor: crosshair;
    width: 350px;
    opacity: 1;
    filter: contrast(120%);
  }
